/* Wrapper ensures footer never overlaps previous content */
/* PARENT WRAPPER — controls global layout and prevents overflow */
.footer-wrapper,
.footer_legal {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* FOOTER BASE */
.footer_main {
  padding: 3rem 1rem;
  color: black;
  margin-top: 18%;
}

/* INTERNAL MAX-WIDTH CONTAINER */
.footer_container {
  max-width: 110rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

/* TEXT SECTION STYLES */
.footer_sec h3,
.footer_cta h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer_sec p {
  margin: 0.45rem 0;
  opacity: 0.85;
  cursor: pointer;
}

/* CTA SECTION */
.footer_cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 13rem;
}

.cta_primary,
.cta_secondary {
  width: 75%;
  padding: 0.85rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.cta_primary {
  background: black;
  color: var(--bg_white);
  font-weight: 600;
}

.cta_secondary {
  background: transparent;
  border: 1px solid #555;
  color: black;
}

.cta_secondary:hover {
  background-color: limegreen;
  opacity: 90%;
}

/* FOOTER BACKGROUND */
.footer-wrapper {
  margin-top: 0%;
  background: linear-gradient(180deg, var(--bg_white) 20%, #6192F0 100%);
}

@media (prefers-color-scheme: dark) {
  .footer-wrapper {
    background: linear-gradient(180deg, rgba(9, 9, 9, 1) 20%, #6192F0 100%);
  }

  .footer_main,
  .cta_secondary {
    color: var(--bg_white);
  }

  .cta_primary {
    background: var(--bg_white);
    color: black;
  }
}

/* RESPONSIVE */
@media (max-width: 48rem) {
  .footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
  }

  .footer_cta {
    grid-column: 1 / -1;
  }

  .footer_container {
    margin-top: 70%;
  }

  .footer-wrapper {
    margin-top: -30%;
  }
}

/* LEGAL FOOTER */
.footer_legal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_legal_left_wrapper,
.footer_legal_right_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vh;
  font-size: 0.51rem;
}

.footer_legal_left,
.footer_legal_right {
  height: 5vh;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.footer_legal_right_wrapper {
  justify-content: flex-end;
  overflow-y: hidden;
}

.footer_logo_crystal {
  width: 2.2rem;
  height: 2.2rem;
}

.footer_item:hover {
  cursor: pointer;
  text-decoration: underline;
}
