 @media screen and (max-width: 48rem) {  


#footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#pairOne,#pairTwo {
    display: flex;
     justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#footerOne {
     width: 15rem;
    height: 10rem;
    background-color: white;
    padding: 1rem;
}

#footerTwo {
     width: 15rem;
    height: 10rem;
    background-color:greenyellow;
      padding: 1rem;
}

#footerThree {
     width: 15rem;
    height: 10rem;
    background-color: yellow;
      padding: 1rem;
      max-width: 100%;
}

#footerFour {
    width: 15rem;
    height: 10rem;
    background-color: rgb(255, 237, 41);
    padding: 1rem;
    max-width: 100%;
}

#footerFive {
    width: 15rem;
    height: 10rem;
    background-color: rgb(255, 137, 41);
    padding: 1rem;
    max-width: 100%;
}

 }
