

.get_butter_free_btn {
    position: relative;
    z-index: 0;
    border-radius: 0.625rem; 
}


.get_butter_free_btn::before {
    content: "";
    position: absolute;
    inset: -0.125rem; 
    background: linear-gradient(45deg, #6AAEFA, #8EC6FF);
    background-size: 400%;
    filter: blur(0.625rem); 
    border-radius: inherit;
    z-index: -1;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    
}

.get_butter_free_btn:hover::before {
    opacity: 1;
}


.get_butter_free_btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    z-index: -1;
    border-radius: inherit;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media (prefers-color-scheme: dark) {
.get_butter_free_btn::after {
    background-color: white;
}
} 





#enterBtn::before {
  content: "";
  position: absolute;
  inset: -0.125rem;
  background: linear-gradient(45deg, #6AAEFA, #8EC6FF);
  background-size: 400%;
  filter: blur(0.625rem);
  border-radius: inherit;
  z-index: -1;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

#enterBtn:hover::before {
  opacity: 1;
}

#enterBtn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border-radius: inherit;
  z-index: -1;
}
