.get_butter_free_btn {
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.get_butter_free_btn::before {
    content: "";
    position: absolute;
    inset: -2px;
    /* background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000); */
    background: linear-gradient(45deg, #6AAEFA, #8EC6FF);
    background-size: 400%;
    filter: blur(5px);
    border-radius: inherit;
    z-index: -1;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.get_butter_free_btn:hover::before {
    opacity: 1;
}

.get_butter_free_btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: -1;
    border-radius: inherit;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
