
.btr_image:hover {
    animation-name: spinning_butter;
    animation-duration: 1.5s;
}

.btr_image:active {
    animation-name: spinning_butter;
    animation-duration: 1.5s;
}

@keyframes spinning_butter {
  100% {
  transform:  rotate3d(0, 1, 0, 360deg);
  }
}


nav {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}


#nav_desktop {
  top: 0;
  position: sticky; 
  width: 100%;
  z-index: 1000;                    /* stays above all content */
  min-height: 5rem;
  /* background-color: var(--bg_white); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;  
  gap: 0.4rem;
  padding: 1rem 0;                 /* same internal spacing */
  margin: 0;
  max-width: 100%;
  /* background: #52ffba;
  background: linear-gradient(90deg,rgba(82, 255, 186, 1) 0%, rgba(101, 150, 145, 1) 50%, rgba(153, 228, 232, 1) 100%); */
  background: linear-gradient(90deg, #8EC6FF 0%, #6AAEFA 100%);
  font-weight: bold;
  font-size: 0.80rem;
}

img {
    width: 6rem;
    height: 2rem;
    margin: 0 auto;
    display: block;
    margin-right: 1rem;
}

#nav_top_stuff {
    margin-left: 8%;
    /* margin-right: auto; */
    display: flex;
    gap: 1.1rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.1rem;
}

.a2 {
    font-size: 1.1rem;
    color: var(--bg_white);
}


#nav_top_stuff a {
    display: flex;
    align-items: center;
    padding: 0.2rem; /* adjust as needed */
}    

#bottom_stuff_from_nav {
    margin-right: 8%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    gap: 2.0rem;
    flex-wrap: wrap;
}


/* #content {
    position: absolute;
    background-color: gray;
} */


#hamburger-icon, #nav_mobile_butter_free_btn, #btr_image_mobile_nav {
    display: none;
}


.nav_item:hover {
    background-color: #5E30EA;
    outline: #5E30EA solid 0.2rem;
    border-radius: 0.2rem;
    z-index: 0; 
    cursor: pointer;
}

#nav_mobile_butter_free_btn, #nav_butter_free_btn {
    color: white;
}


@media (prefers-color-scheme: dark) {
#nav_mobile_butter_free_btn, #nav_butter_free_btn {
    color: black;
}
}


.nav_main {
    background-color: var(--bg_white);
}


#nav_main, #nav_top_stuff, #nav_item {
    color: var(--bg_white);
}


@media screen and (max-width: 48rem) { 

    #nav_mobile_right_content {
        display: flex;
        justify-content: space-between;
        align-items: right;
        gap: 1rem;
    }

    #btr_image_mobile_nav,  #nav_mobile_butter_free_btn {
        display: flex;
        /* margin-left: 1rem; */
    }

    #nav_top_stuff, #bottom_stuff_from_nav {
        display: none;
    }

    #hamburger-icon {
        display: flex;
        width: 2rem;
        height: 2rem;
    }


}

#hamburger-menu {
    width: 100vw;
    height: 100vh;
    background-color: #6AAEFA; /*#32A2F6; */
    z-index: 100000000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;                 /* hidden by default */
    transform: translateX(100%);   /* off-screen */
    transition: transform 0.5s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    opacity: 97%;
}

#btr_img_burger {
    display: none;
}

/* #btr_img_hamburger {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 4rem;
    height: 4rem;
} */


#menu-list-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
   
}

  #menu-list {
   border-radius: 1.3rem;
    padding: 1.67rem;
   background: #469aee;
    opacity: 1;
    width: 30vh;
 } 


  /* This will be for larger ipad screens  */
 
  @media screen and (min-width: 40rem) {



#menu-list-parent {
    width: 95%;
}

#menu-list-older-sibling {
    display: flex;
    align-items: center;
    justify-content: center;
}

  #menu-list {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75vw;
}

#top,#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
} 
/* 
#btr_img_hamburger {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
} */

#top {
    gap: 2.5rem;
}

#bottom {
    gap: 4.2rem;
}
  }

#menu-item {
    opacity: 1;
    margin-top: 2rem;
    cursor: pointer;
    gap: 1.5rem;
}

#x {
    position: absolute;
    top: 0;
    right: 0;
}

#closeIcon {
    height: 3rem;
    width: 3rem;
}


@media screen and (min-width: 48rem) and (max-width: 67rem) {

  #nav_desktop {
    justify-content: center;  
  }

  #nav_top_stuff,
  #bottom_stuff_from_nav {
    width: 100%;            
    display: flex;
    justify-content: center;
    align-items: center;      
    margin-left: 0%;
    margin-right: 0%;
  }

}        



@media (prefers-color-scheme: dark) {
    #btr_image_mobile_nav {
         color: green;
    }
}
 