
#section_yours {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#section_yours_header {
    padding-top: 10%;
    font-size: var(--header_clamp);
    margin: 0 auto;
    text-align: center;
}

#section_yours_text {
    padding-top: 2%;
    font-size: var(--text_clamp);
    margin: 0 auto;
    text-align: center;
}

#section_yours_image, #section_yours_image_two  {
    padding-top: 5%;
    width: clamp(40rem, 12vw + 55rem, 75rem);
    max-width: 100%;
    margin-inline: auto;
    height: clamp(20rem, 6vw + 28rem, 36rem);
    margin: 0 auto;
}


@media screen and (max-width: 48rem) { 
    #section_yours_header {
        font-size: 1.65rem;
    }

    #section_yours_text {
        font-size: 0.8rem;
    }

    #section_yours_image, #section_yours_image_two  {
        width: 23rem; 
        height: 11rem;
    }

}
