

@media screen and (max-width: 48rem) { 
   
.wrapper {
  position: relative;
  width: 17rem;     /* controls total width */
  height: 3rem;     /* controls total height */
  margin-top: 7%;
}

#email {
  width: 100%;      /* fills wrapper */
  height: 100%;     /* matches wrapper height */
  padding-right: 3rem; /* makes space so text doesn't overlap button */
  box-sizing: border-box;
  border-radius: 1.30rem;
  border-color: none;
  border: none;
  outline: none;
}

#enterBtn {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 3rem;  /* now matches wrapper height */
  border-radius: 1.30rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border: solid 0.10rem;
  outline: none;
}


#parent_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #section_lovable {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        margin-top: 7%;    
    }


    #section_lovable_header {
        font-size: 2.3rem;
        max-width: 17ch;
        margin: 0 auto;
        /* padding-top: 16%; */
        text-align: center;
    }

    #section_lovable_text {
        padding: 7% 0 6% 0;
        font-size: 0.8rem;
        max-width: 45ch;
        margin: 0 auto;
        margin-top: -6.7%;
    }

    #section_lovable_image {
        padding-top: 5%;
        width: 23rem;
        height: 23rem;
        margin: 0 auto;
    }

    #section_lovable_video {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #glass_butter {
        width: 24rem;
        height: 24rem;
        margin: 0 auto;
    }


}


