

#section_butter {
    width: 100%;
    display: block;
    text-align: center;
    height: auto;

}

#section_butter_inner {
    padding-top: 7%;
}

#section_butter_header {
    max-width: 30ch;
    font-size: var(--header_clamp);
    margin: 0 auto;
    margin-bottom: 5%;
}

#butter_section_btn {
    margin: 0 auto;
}


@media screen and (max-width: 48rem) { 
    #section_butter_header {
        font-size: 2.2rem;
    }

    #section_butter {
        margin-bottom: -15%;
        margin-top: 10%;
    }

}

/* #footer-divider {
    width: 100%;
    height: 35rem;

} */