

#section_lovable {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        margin-top: 15rem;
}

#email-section {
    margin-top: 5%;
    height: auto;
        display: flex;
    align-items: center;
    justify-content: center;
}

#email_section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(15deg, #8ec6ff, #83c0fd, #78b9fc, #6db3fa, #63adf7, #59a7f4, #4fa0f1, #469aee);
    border-radius: 0.5rem;
    width: 23rem;
    text-align: left;
}



#section_lovable_video {
    display: none;
}

@media (prefers-color-scheme: dark) {
    
#section_lovable_video {
    display: flex;
}

#section_lovable {
        margin-top: 7%;    
    }

}



.email_section_content {
  position: relative;
  width: 20rem;     /* controls total width */
  margin-top: 3.5%;
  margin-bottom: 6.5%;
}

form {
     height: 3rem;  
}

#email {
  width: 100%;      /* fills email_section_content */
  height: 100%;     /* matches email_section_content height */
  padding-right: 3rem; /* makes space so text doesn't overlap button */
  box-sizing: border-box;
  border-radius: 0.67rem;
  border-color: none;
  /* outline: solid 0.03rem;
  outline-color: black */
  border: none;

}


/* While email is being worked with*/
input[type="email"]:focus {
  outline: none;
  border: none;
}


#enterBtn {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 3rem;  /* now matches email_section_content height */
  border-radius: 0.67rem;
  background-color: var(--bg_black);
  color: var(--bg_white);
  outline: none;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 0.9rem;
}



#section_lovable_header {
    font-size: var(--header_clamp);
    max-width: 17ch;
    margin: 0 auto;
    /* padding-top: 16%; */
    text-align: center;
}

#section_lovable_text {
    padding: 7% 0 6% 0;
    font-size: var(--text_clamp);
    max-width: 45ch;
    margin: 0 auto;
    margin-top: -3%;
}

#section_lovable_image {
    padding-top: 5%;
    width: 45rem;
    height: 45rem;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {

    #section_lovable_video {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #glass_butter {
        width: 24rem;
        height: 24rem;
        margin: 0 auto;
        pointer-events: none;
    }

    #email {
        border: none;
    }

}


@media screen and (max-width: 48rem) { 
    #section_lovable_header {
        font-size: 2.3rem;
    }

    #section_lovable_text {
     font-size: 0.8rem;
    }
    .email_section_content {
        width: 17rem;
        margin-top: 7%;
    }

    #section_lovable_image {
        width: 23rem;
        height: 23rem;
    }

}


#enterBtn:hover, #footer_butter_free_btn:hover, .cta_secondary:hover, #nav_butter_free_btn:hover {
  background: linear-gradient(135deg, #32cd32, #00ff99);
  border: none;
  outline: none;
  color: white;
}
