


#section_smarter {
    margin-top: 5%;
    height: auto;
    width: 100%;
    text-align: center;
    display: block;
}

#section_smarter_header {

    text-align: center;
    font-size: var(--header_clamp);
    margin: 0 auto;
    max-width: 20ch;
    margin-bottom: 3%;
}

#section_smarter_text {
    max-width: 40ch;
    margin: 0 auto;
    padding-bottom: 4%;
    font-size: var(--text_clamp);
}

#section_smarter_image {
    padding-top: 5%;
    width: 23rem;
    height: 14rem;
    margin: 0 auto;
}

#section_smarter_link {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(93, 150, 255);
    font-size: 0.8rem;
}

.content {
    display: none;
}

@media screen and (max-width: 48rem) { 

#section_smarter_header {
    font-size: 1.65rem;
}

#section_smarter_text {
    font-size: 0.8rem;
}

}