

@media screen and (max-width: 48rem) { 
   
    #email {
       margin-top: 7%;
       width: 17rem;
       height: 3rem;
    }

    #section_lovable {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        margin-top: 20%;
    }


    #section_lovable_header {
        font-size: 2.3rem;
        max-width: 17ch;
        margin: 0 auto;
        padding-top: 16%;
        text-align: center;
    }

    #section_lovable_text {
        padding: 7% 0 6% 0;
        font-size: 0.8rem;
        max-width: 45ch;
        margin: 0 auto;
        margin-top: -6.7%;
    }

    #section_lovable_image {
        padding-top: 5%;
        width: 23rem;
        height: 23rem;
        margin: 0 auto;
    }
    
}


