#section_lovable_video {
    display: none;
}


#parent_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#section_lovable {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        margin-top: 15rem;
}



@media (prefers-color-scheme: dark) {
    
    #section_lovable_video {
    display: flex;
    }

#section_lovable {
        margin-top: 7%;    
    }

}




.wrapper {
  position: relative;
  width: 20rem;     /* controls total width */
  margin-top: 3.5%;
  margin-bottom: 1.5%;
}

form {
     height: 3rem;  
}

#email {
  width: 100%;      /* fills wrapper */
  height: 100%;     /* matches wrapper height */
  padding-right: 3rem; /* makes space so text doesn't overlap button */
  box-sizing: border-box;
  border-radius: 1.30rem;
  border-color: none;
  /* outline: solid 0.03rem;
  outline-color: black */

}

#enterBtn {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 3rem;  /* now matches wrapper height */
  border-radius: 1.30rem;
  background-color: var(--bg_black);
  color: var(--bg_white);
  border: solid 0.10rem;
  outline: none;
}

    #section_lovable_header {
        font-size: var(--header_clamp);
        max-width: 17ch;
        margin: 0 auto;
        /* padding-top: 16%; */
        text-align: center;
    }

    #section_lovable_text {
        padding: 7% 0 6% 0;
        font-size: var(--text_clamp);
        max-width: 45ch;
        margin: 0 auto;
        margin-top: -6.7%;
    }

    #section_lovable_image {
        padding-top: 5%;
        width: 45rem;
        height: 45rem;
        margin: 0 auto;
    }

    @media (prefers-color-scheme: dark) {

    #section_lovable_video {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #glass_butter {
        width: 24rem;
        height: 24rem;
        margin: 0 auto;
        pointer-events: none;
    }

#email {
    border: none;
}

    }


@media screen and (max-width: 48rem) { 
    #section_lovable_header {
        font-size: 2.3rem;
    }

    #section_lovable_text {
     font-size: 0.8rem;
    }
    .wrapper {
        width: 17rem;
        margin-top: 7%;
    }

    #section_lovable_image {
        width: 23rem;
        height: 23rem;
    }

}


